\.tmp.driveupload
\.tmp.drivedownloaded
documents/~$AY 23-24 2nd Sem RM Slides.pptx
documents/~$202324s2-RM-Slides-Sy.pptx
output/2D-Binary-PCA-IH/**/*.png
output/2D-Binary-PCA/**/images/*.png
!output/2D-Binary-PCA-IH/analysis/**
!output/2D-Binary-PCA-IH/analysis/**/*.png
documents/~$202425s1-RM-Slides-Sy.pptx
scripts/test.jl
documents/PRPE-paper/PRPE-paper/PRPE_Classroom_dynamics.aux
documents/PRPE-paper/PRPE-paper/PRPE_Classroom_dynamics.blg
documents/PRPE-paper/PRPE-paper/PRPE_Classroom_dynamics.fdb_latexmk
documents/PRPE-paper/PRPE-paper/PRPE_Classroom_dynamics.fls
documents/PRPE-paper/PRPE-paper/PRPE_Classroom_dynamics.log
documents/PRPE-paper/PRPE-paper/PRPE_Classroom_dynamics.out
documents/PRPE-paper/PRPE-paper/PRPE_Classroom_dynamics.toc
output/2D-Binary-PCA-IH/traditional-96
output/2D-Binary-PCA-IH/traditional-128
